.multisearch .ant-select {
    min-width: 300px;
    max-width: 100%;
}

@media screen and (max-width: 576px) {
    .multisearch-dropdown {
        width: 100% !important;
        left: unset !important;
    }
}

.multi-search-result-layer-title {
    font-weight: bold;
    font-size: 1.2em;
    font-style: oblique;
}

.multi-search-result-layer-title > div {
    float: right;
    font-weight: bold;
}

.multi-search-result-entry {
    display: flex;
    justify-content: space-between;
    white-space: pre-line;
}

.multisearch .loader {
    margin-left: -50px;
    padding-top: 5px;
    z-index: 0;
}

.multisearch .loader.hidden {
    z-index: -1;
}
