{
  "presets": [
    "env",
    "stage-0",
    "react"
  ],
  "env": {
    "coverage": {
      "plugins": [
        [
          "istanbul", {
            "exclude": [
              "spec/**/*.js*"
            ]
          }
        ]
      ]
    }
  },
  "plugins": [
    [
      "import", {
        "libraryName": "antd",
        "style": true
      }

    ],
    "transform-decorators-legacy"
  ]
}
