.carousel-wrapper {
  position: absolute;
  bottom: 5px;
  width: 100%;
  height: 165px;
  background-color: #ffffffa3;
}

.carousel-slide {
  background-color: #e4e2e28f;
  text-align: center;
  font-size: 1.2em;
  border: 1px solid #b7b6b6;
  border-radius: 4px;
  padding: 5px;

  > img {
    display: initial !important;
  }
}

.carousel-slide.selected {
  border: 2px solid gray;
}

.ant-carousel {
  width: 100%;
  height: 100%;
}