.permalink {
  display: flex;
  padding: 10px 5px;
}

.permalink label {
  align-self: center;
}

.permalink input {
  margin: 0 20px;
  flex: 1;
  border: solid 1px var(--baseColor);
  border-radius: 2px;
  padding: 0 5px;
  text-overflow: ellipsis;
}

.permalink input:focus {
  outline: none !important;
  border: 1px solid var(--headerColor);
}
