.sidermenu-logo {
  > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}

// .treesubmenu {
//   .ant-menu-sub {
//     background-color: #ffffff85;
//   }
// }

/**
 * fixup tree drag and drop when in vertical submenu
 */
.treesubmenu:before {
  content: none;
}