.metadata-modal {
  height: 85%;
  max-height: 85%;
  width: 80% !important;
}

.metadata-modal.ant-modal-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.metadata-modal .ant-modal-body {
  display: flex;
  flex-direction: column;
  flex: 1;
}
