.metadata-modal {
  height: 85%;
  max-height: 85%;
  width: 80% !important;
}

.metadata-modal .ant-modal-content {
  height: 100%;
}

.metadata-modal .ant-modal-body .left-container {
  display: flex;
  align-items: baseline;
  width: 100%;
  overflow-y: auto;
}

.metadata-modal .ant-modal-body {
  padding: 10px;
  max-height: 93%;
  display: flex;
}

.metadata-modal .ant-modal-body .left-container>.ant-card,
.metadata-modal .ant-modal-body .right-container {
  flex: 1;
}

.metadata-modal .ant-modal-body .right-container .ant-card {
  margin: 5px 0;
}
