.layer-legend-accordion {
  width: 400px;
  background-color: white;
  position: absolute;
  right: 0;
  z-index: 100;
  border: 1px solid lightgray;

  .layer-legend-accordion-title {
    line-height: 100%;

    span.fa {
      float: right;
      vertical-align: middle;
    }

    .fa.fa-eye.some-layers,.fa.fa-eye-slash {
      opacity: 0.5;
    }
  }

  .legend-collapse-panel {
    .ant-collapse-content-box {
      max-height: 500px;
      overflow: auto;

      .ant-collapse-header {
        padding: 0px 0px 5px 40px
      }
    }
  }

  .react-geo-layertree {
    max-height: 250px;
    overflow: auto;
    background-color: #fafafa;

    .react-geo-layertree-node {
      display: flex;
      align-items: center;
      border-bottom: 1px solid lightgray;

      // let settings icon never be transparent
      // (even if layer is out of scale or inactive)
      &.out-off-range {
        opacity: 1;

        .layer-tree-node-title-filter,
        .layer-tree-node-title-active,
        .layer-tree-node-title-layername,
        .layer-tree-node-title-visibility,
        .layer-tree-node-title-inactive {
            opacity: .5;
        }
      }

      .ant-tree-switcher {
        display: none;
      }

      span.ant-tree-checkbox {
        display: none;
      }

      .ant-tree-node-content-wrapper {
        flex: 1;
        overflow: hidden;

        .layer-tree-node-title {
          display: flex;
          flex: 1;
          align-items: center;

          .layer-tree-node-title-layername {
            margin-left: 12px;
            flex: 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .layer-tree-node-title-visibility.layer-tree-node-title-inactive {
            opacity: 0.5;
          }

          .layer-tree-node-title-settings {
            margin-right: 12px;
            width: 12px;
          }

          .layer-tree-node-loading-active {
            margin-right: 12px;
            width: 12px;
          }

          .layer-tree-node-loading-inactive {
            margin-right: 12px;
            width: 12px;
            display: none;
          }
        }
      }
    }
  }
}
