.footer {
  display: flex;
  height: var(--footer-height);
}

.footer .footer-element {
  height: var(--footer-height);
  display: flex;
  padding: 0px 5px 0px 5px;
  align-items: center;
  white-space: nowrap;
}

.footer .crscombo-col {
  padding-left: 5px;
}

.footer .crscombo-col > span {
  padding-right: 5px;
}

.footer .crscombo-col .react-geo-coordinatereferencesystemcombo {
  min-width: 60px;
}

.crs-dropdown {
  min-width: 250px !important;
}

@media only screen and (max-width: 900px) {
  .footer .crscombo-col {
    display: none;
  }
}

.footer .scalecombo-col {
  float: left;
}

.footer .scalecombo-col > span {
  padding-right: 5px;
}

.footer .scalecombo-col .scalecombo {
  width: 150px !important;
}

@media only screen and (max-width: 500px) {
  .footer .scalecombo-col {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .footer .scalecombo-col .scalecombo {
    display: none;
  }
}

.footer .ol-mouse-position {
  top: 0;
  right: 0;
  position: inherit;
  padding-left: 5px;
  justify-content: flex-start;
  margin-right: 5px;
  min-width: 250px;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .footer .ol-mouse-position {
    display: none;
  }
}

@media only screen and (min-width: 500px) {
  .footer .imprint {
    width: 100%;
    justify-content: flex-end;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .footer .imprint {
    width: 100%;
    justify-content: center;
  }
}
