.layerset-basemap-chooser {
  display: inline-grid;
  width: 100%;
  grid-template-columns: 200px 30px auto;
  grid-template-rows: 200px 30px 200px;

  // Disabele pointer-events for container
  pointer-events: none;
  * {
    // Enable for every child
    pointer-events: all;
  }

  button {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  #overview-map {
    grid-column: 1;
    grid-row: 3;
    .ol-overviewmap {
      height: 200px;
      padding: unset;
      border-radius: unset;
      .ol-overviewmap-map {
        margin: unset;
        width: 200px;
        height: 200px;
      }
    }
  }

  .collapse-btn {
    grid-column: 2;
    grid-row: 2;
    border: 1px solid darken(#4ba9ff, 25%);
    border-radius: 0 4px 0 0;
  }

  .show-topic-carousel-toggle {
    grid-column: 1;
    grid-row: 2;
    border: 1px solid darken(#4ba9ff, 25%);
  }

  .show-baselayer-carousel-toggle {
    grid-column: 2;
    grid-row: 3;
    border: 1px solid darken(#4ba9ff, 25%);
    >div {
      transform: rotate(-90deg) translate(-20px, 0px);
    }
  }

  .base-layer-carousel, .topic-carousel {
    background: rgba(darken(#4ba9ff, 5%), 75%);
    border: 1px solid darken(#4ba9ff, 25%);
  }

  .topic-carousel {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .base-layer-carousel {
    grid-row: 3;
    grid-column-start: 3;
    grid-column-end: 4;
  }

}

