.help-modal {
  height: 85%;
  max-height: 85%;
  width: 90% !important;
}

.help-modal .ant-modal-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.help-modal .ant-modal-body {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.help-modal .ant-modal-body iframe {
  height: 100%;
}
