.permalink {
    display: flex;
    text-align: center;
    padding: 10px;
}

.permalink label {
    padding-top:5px;
    flex: 1;
}

.permalink input {
    margin-right: 20px;
    flex: 4;
}

.permalink button {
    flex: 1;
}
