/* fade out the loadmask after react starts rendering */
.loadmask {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: -webkit-translate(-50%, -50%);
  transform: -moz-translate(-50%, -50%);
  transform: -ms-translate(-50%, -50%);
  z-index: 999;

  opacity: 0;
  animation-name: fadeOutOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.loadmask>img {
  min-width: 50%;
  margin: 0 auto;
  display: block;
}

@keyframes fadeOutOpacity {
  0% {
    opacity: 1;
  }

  99% {
    opacity: 0.01;
  }

  100% {
    opacity: 0;
    z-index: -1;
    display: none;
  }
}

/* fade in app div */
.app {
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
