header {
  height: var(--header-height);
  background-color: white;
}

.main-content {
  min-height: 0;
  flex: 1;
  display: flex;
}

.main-content .map {
  flex: 1;
}

.ant-layout-sider-trigger {
  position: relative;
}

.vertical-toolbar {
  position: absolute;
  right: 10px;
  top: 60px;
}

.layerset-basemap-chooser {
  z-index: 20;
  position: absolute;
  left: 0;
  bottom: 78px;
}

