/* This file holds the global CSS variables */
html {
  --header-height: 50px;
  --footer-height: 35px;
  --layerlegendaccordion-collapse-bckgr-color: #fafafa;
  --layerlegendaccordion-accordion-width: 400px;
  --layersetbasemapchooser-main-component-color: #4ba9ff;
  --layercarouselslide-main-component-color: #4ba9ff;
  --layer-tree-node-height: 48px;
  --print-panel-v2-primary-color: #ffffff;
  --print-panel-v3-primary-color: #ffffff;
}
