.BrainhubCarouselItem {
  text-align: center;
  border: 1px solid white;
  border-radius: 4px;
  background-color: white;
  overflow: hidden;
  margin: 0 3px;
  opacity: .85;
}

.BrainhubCarouselItem:hover {
  opacity: 1;
  background-color: rgba(white, 0.5)
}

.BrainhubCarouselItem .title-div {
  background-color: var(--layercarouselslide-main-component-color);
}

.BrainhubCarouselItem .layersetentry {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.BrainhubCarouselItem .layersetentry img {
  max-width: 100%;
  max-height: 100%;
  min-height: 0;
  flex: 1;
  align-self: center;
  object-fit: contain;
  cursor: pointer;
}
