
@main-component-color: #4ba9ff;
.BrainhubCarouselItem {
  text-align: center;
  border: 1px solid white;
  border-radius: 4px;
  background-color: white;

  overflow: hidden;
  margin: 0 3px;
  opacity: .85;

  &:hover {
    opacity: 1;
    background-color: rgba(white, 0.5)
  }

  .title-div {
    background-color: lighten(@main-component-color, 25%);
  }

  .layersetentry {
    display: flex;
    flex-direction: column;
    width: 100%;
    img {
      max-width: 100%;
      max-height: 100%;
      min-height: 0;
      flex: 1;
      align-self: center;
      object-fit: contain;
      cursor: pointer;
    }
  }
}
