.app-header {
  border-bottom: 1px solid lightgray;

  .ant-row {
    width: 100%;
    .ant-col{
      height: @header-height;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .logo {
    .app-logo {
      height: ~"calc(@{header-height} - 10px)";
    }
    .app-logo.with-link {
      &:hover {
        cursor: pointer;
      }
    }
    @media screen and (max-width: 1500px) {
      display: none;
    }
  }

  .app-title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }

  .react-geo-nominatimsearch {
    width: 100%;
  }

  .app-language-selection {
    display: block;
    width: 42px;
    > img {
      padding-right: 5px;
    }
  }
}
