.app-header {
  border-bottom: 1px solid lightgray;
  background-color: var(--toolbarColor);
  height: var(--header-height);
  display: flex;
  align-items: center;
}

.app-header .app-loading-indicator {
  max-width: 150px;
  position: relative;
  padding: 0 5px 0 5px;
  display: block !important;
}
@media screen and (max-width: 576px) {
  .app-header .app-loading-indicator {
    display: none !important;;
  }
}

.app-header .logo .app-logo {
  height: calc(var(--header-height) - 10px);
  padding-right: 5px;
}
.app-header .logo .app-logo.with-link:hover {
  cursor: pointer;
}

.app-header .search {
  width: 100%;
  justify-content: center;
  display: flex;
}

.app-header .search .react-geo-nominatimsearch {
  max-width: 500px;
}

.app-header .app-title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: var(--textColor);
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 150px;
}

@media screen and (max-width: 576px) {
  .app-header .app-title {
    display: none;
  }
}

.app-header .app-language-selection {
  display: flex;
}

.app-header .app-language-selection > img {
  padding: 0 5px 0 5px;
  cursor: pointer;
}
